{% load static %}

<link rel="stylesheet" href="{% static 'widgets/inputs/image-upload-input/style.css' %}">

<div class="image-upload flex flex-col gap-2 w-min">
    <div class="image-preview border border-blue-500 rounded">
        <div>
            <span class="no-file-message">No file</span>
        </div>
    </div>

    <label for="{{ input_id }}" class="image-upload-label btn btn-blue flex justify-center">
        <span>Select file</span>
        <input type="file" id="{{ input_id }}" name="{{ input_name }}" accept="image/*" />
    </label>
</div>

<script src="{% static 'widgets/inputs/image-upload-input/script.js' %}"></script>