{% extends "base.html" %}

{% block base_content %}


<main class="flex flex-1 h-full justify-center items-center">

    <div class="p-4 bg-blue-100">
        <form class="flex flex-col gap-4" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ login_form }}
            <button class="btn btn-blue" type="submit">Login</button>
            <div class="flex justify-center">
                <a class="link" href="/register">Register</a>
            </div>

        </form>
    </div>
</main>



{% endblock %}